################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs/HHBK_Chemicals_ERP_CS/v15/Server/sqlite3/db.lock
*.cache
slnx.sqlite

/.vs/
/HHBK_Chemicals_ERP_CS/.vs/
/HHBK_Chemicals_ERP_CS/bin/
/HHBK_Chemicals_ERP_CS/obj/
/HHBK_Chemicals_ERP_CS/Properties/
/Properties/
Resources.Designer.cs
Resources.resx
Settings.Designer.cs
Settings.settings
HHBK_Chemicals_ERP_CS.csproj
/HHBK_Chemicals_ERP_CS/HHBK_Chemicals_ERP_CS.csproj
*.csproj


