################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################
/HHBK_Chemicals_ERP_CS/bin/
/HHBK_Chemicals_ERP_CS/obj/

/.vs/
/HHBK_Chemicals_ERP_CS/.vs/
