################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs/HHBK_Chemicals_ERP_CS/v15/Server/sqlite3/db.lock
/HHBK_Chemicals_ERP_CS/obj/Debug/.NETFramework,Version=v4.6.1.AssemblyAttributes.cs
/HHBK_Chemicals_ERP_CS/obj/Release/.NETFramework,Version=v4.6.1.AssemblyAttributes.cs
*.cache
